In [1]:
username = ["James_bond", "Andrew_Tate", "Top_G", "The_Slayer", "The_pun_intended"]
for us in username: 
  if us == "Admin":
    print ("Thank you, please have a nice day " + username[4].upper() + "!")
  else:
    print ("Thank you for logging in " + us + ".")

Thank you for logging in James_bond.
Thank you for logging in Andrew_Tate.
Thank you for logging in Top_G.
Thank you for logging in The_Slayer.
Thank you for logging in The_pun_intended.

In [2]:
numbers = list(range(1,11))
for num in numbers:
  if num == 1:
    print ("1st")
  if num == 2:
    print ("2nd")
  if num == 3:
    print ("3rd")
  else:
    print (str(num) + "th")

1st
1th
2nd
2th
3rd
4th
5th
6th
7th
8th
9th
10th